name: Job ci-cd pour le projet connected-combat-units

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests=true
        working-directory: backend/user-service

      - name: Run tests
        run: mvn test
        working-directory: backend/user-service

      - name: Create maven settings file
        if: github.ref == 'refs/heads/master'
        run: |
          mkdir -p $HOME/.m2
          cat <<EOF > ~/.m2/settings.xml
          <settings>
            <servers>
              <server>
                <id>github</id>
                <username>${{ github.actor }}</username>
                <password>${{ secrets.TOKEN }}</password>
              </server>
            </servers>
          </settings>
          EOF


      - name: Deploy to Gihub Packages
        if: github.ref == 'refs/heads/master'
        run: mvn deploy -DskipTests=true
        working-directory: backend/user-service
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}